ul.blog-info-descritpion{
    margin-bottom: 2em;
}

ul.blog-info-descritpion li{
    display: inline-block;
    margin-right: 2em;
}

div.blog:not(:last-child){
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ddd;
}

div.blog h4{
    margin-top: 0.5em;
}

div.blog p{
    margin-bottom: 0.25em;
}

div.blog-content{
    text-indent:2em;
    word-wrap: break-word;
}

div.blog-paginator{
    text-align: center;
}

div.blog-more{
    margin-top: 1em;
}


.a-blog-type{
    margin-right:1em;
}
.a-blog-types{
    margin-left:2em;
}

div.comment-area{
    margin-top: 3em;
    margin-bottom: 3em;
}

h3.comment-area-title{
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
}

div.django-ckeditor-widget{
    width: 100%
}